body {
  background-image: repeating-linear-gradient(#ee2277, #8b008b);
}

h1 {
  color: purple;
}
h2,
h3,
li {
  color: greenyellow;
}

a.external {
  color: blueviolet;
  font-size: x-small;
  padding-left: 700px;
  opacity: 0.3;
}
