body {
  background-image: repeating-linear-gradient(#f42072, #4b0082);
}

h1 {
  color: purple;
}
h2,
h3,
li {
  color: greenyellow;
}

a.external {
  color: blueviolet;
  font-size: x-small;
  padding-left: 700px;
  opacity: 0.3;
}
