body {
  background-image: repeating-linear-gradient(#f42072, #4b0082);
}

h1 {
  color: greenyellow;
}
h2,
h3,
li {
  color: #f42072;
}

a.external {
  color: greenyellow;
  font-size: x-small;
  padding-left: 700px;
  opacity: 0.3;
}
